.navegador{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    background: linear-gradient(to top, transparent, black);
    opacity: 0.8;
    height: 25%;
    width: 100%;
}

.navegadordiv1{
    display: flex;
}

.navegadordiv2{
    width: 100%;
    display: flex;
    height: 33px;
    text-align: center;
    justify-content: end;
}

.linav{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.linavimg{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    padding-right: 10px;
    cursor: pointer;
}

.anav{
    margin: 7px 20px 0px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.50)
}

.anav:hover{
    color: rgb(189, 35, 24);
}